## WEEK 1

This lesson bridges linear algebra, matrix calculus, and portfolio theory, demonstrating how these mathematical tools are applied in financial optimization using Python. The session begins with foundational matrix operations and derivative rules, then transitions into practical applications such as calculating portfolio variance, expected returns, and covariance matrices using JSE sector index data. The lesson culminates in implementing closed-form solutions for Global Minimum Variance Portfolio (GMVP) and Efficient Portfolio (EP). These are tested and validated using both manual matrix operations and Python’s vectorized capabilities, showcasing the power of computational finance.

This lesson is important because it equips students with a deep understanding of how linear algebra underpins financial theory, practical skills in Python for financial modeling, and the ability to construct and validate optimal portfolios.

As you work through this lesson, consider the following:

Matrix Algebra Essentials
Matrix Derivatives
Portfolio Theory in Matrix Form
Python Implementation (Use of pandas and NumPy for)
Closed-Form Portfolio Optimization (GMVP and Efficient Portfolio)

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Data

In [7]:
data = pd.read_excel(r'C:\Users\Neo Mmusi\OneDrive\Desktop\Projects\Raw data_8_Shares.xlsx', index_col=0)

In [8]:
data

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
2020-01-02,15069.0,60296.0,12525.0,30385.0,9400.0,31773.0,8365.0,233750.0
2020-01-03,14961.0,62209.0,12372.0,31200.0,9616.0,33610.0,8123.0,235400.0
2020-01-06,14536.0,62462.0,11998.0,31835.0,9687.0,33496.0,8039.0,234380.0
2020-01-07,14158.0,63650.0,12200.0,31535.0,9442.0,32220.0,8040.0,235810.0
2020-01-08,14295.0,64459.0,12229.0,31142.0,9345.0,31635.0,7961.0,232500.0
...,...,...,...,...,...,...,...,...
2025-08-25,19235.0,101484.0,26790.0,12157.0,56292.0,94923.0,15480.0,593311.0
2025-08-26,18875.0,100190.0,26763.0,11832.0,57870.0,96689.0,14978.0,591332.0
2025-08-27,18758.0,100370.0,26935.0,11505.0,58629.0,97685.0,15046.0,579489.0
2025-08-28,19169.0,99000.0,26436.0,11930.0,57027.0,96900.0,15233.0,578260.0
2025-08-29,18880.0,99750.0,26293.0,11922.0,57971.0,98500.0,14980.0,580867.0

### Converting the data from closing price to percentage returns.

In [9]:
ret=data.pct_change(fill_method=None).drop(data.index[0])

In [10]:
ret.head()

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
2020-01-03,-0.007167,0.031727,-0.012216,0.026822,0.022979,0.057816,-0.028930,0.007059
2020-01-06,-0.028407,0.004067,-0.030230,0.020353,0.007384,-0.003392,-0.010341,-0.004333
2020-01-07,-0.026004,0.019020,0.016836,-0.009424,-0.025292,-0.038094,0.000124,0.006101
2020-01-08,0.009677,0.012710,0.002377,-0.012462,-0.010273,-0.018156,-0.009826,-0.014037
2020-01-09,0.010003,-0.000434,-0.005479,-0.027166,-0.043232,-0.030346,-0.001884,0.006963

Weight Vector : Assuming equal weights

In [11]:
wght=pd.Series(np.ones(len(ret.columns))/len(ret.columns),index=ret.columns)

In [12]:
wght

ABG.JO    0.125
BTI.JO    0.125
SHP.JO    0.125
SOL.JO    0.125
GFI.JO    0.125
ANG.JO    0.125
MTN.JO    0.125
NPN.JO    0.125
dtype: float64

Estimate a covariance matrix

In [13]:
cov_m=ret.cov()

In [14]:
cov_m

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
ABG.JO,0.000534,0.000016,0.000169,0.000377,-0.000018,-0.000018,0.000286,0.000061
BTI.JO,0.000016,0.000244,0.000018,0.000068,0.000039,0.000030,0.000055,0.000012
SHP.JO,0.000169,0.000018,0.000338,0.000131,0.000028,0.000041,0.000150,0.000035
SOL.JO,0.000377,0.000068,0.000131,0.001976,0.000092,0.000120,0.000457,0.000105
GFI.JO,-0.000018,0.000039,0.000028,0.000092,0.001209,0.000937,0.000041,0.000054
ANG.JO,-0.000018,0.000030,0.000041,0.000120,0.000937,0.001019,0.000059,0.000057
MTN.JO,0.000286,0.000055,0.000150,0.000457,0.000041,0.000059,0.000805,0.000082
NPN.JO,0.000061,0.000012,0.000035,0.000105,0.000054,0.000057,0.000082,0.000727

Quality checking your matrx

In [15]:
ret.var()

ABG.JO    0.000534
BTI.JO    0.000244
SHP.JO    0.000338
SOL.JO    0.001976
GFI.JO    0.001209
ANG.JO    0.001019
MTN.JO    0.000805
NPN.JO    0.000727
dtype: float64

### 2 different ways to do the dot product in python.

##### The Usual and long way

In [16]:
mean_=ret.mean()

In [17]:
mean_

ABG.JO    0.000427
BTI.JO    0.000478
SHP.JO    0.000692
SOL.JO    0.000334
GFI.JO    0.001890
ANG.JO    0.001305
MTN.JO    0.000815
NPN.JO    0.001005
dtype: float64

In [20]:
#we can simply say returns minus means to get the de-meaned returns
A=ret-mean_

In [21]:
A

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
2020-01-03,-0.007594,0.031249,-0.012907,0.026488,0.021089,0.056512,-0.029745,0.006054
2020-01-06,-0.028834,0.003589,-0.030921,0.020018,0.005494,-0.004697,-0.011156,-0.005338
2020-01-07,-0.026431,0.018541,0.016145,-0.009758,-0.027181,-0.039399,-0.000690,0.005096
2020-01-08,0.009250,0.012232,0.001685,-0.012797,-0.012163,-0.019461,-0.010640,-0.015042
2020-01-09,0.009577,-0.000912,-0.006170,-0.027500,-0.045121,-0.031651,-0.002699,0.005958
...,...,...,...,...,...,...,...,...
2025-08-25,-0.004620,-0.004951,-0.012568,0.116421,0.041057,0.000690,-0.010982,0.019847
2025-08-26,-0.019142,-0.013229,-0.001699,-0.027068,0.026143,0.017300,-0.033244,-0.004341
2025-08-27,-0.006625,0.001319,0.005735,-0.027971,0.011226,0.008996,0.003725,-0.021033
2025-08-28,0.021484,-0.014128,-0.019218,0.036606,-0.029214,-0.009341,0.011614,-0.003126
2025-08-29,-0.015503,0.007098,-0.006101,-0.001005,0.014664,0.015207,-0.017423,0.003503

#### 1st option

Now lets calculate A'A using both models

In [22]:
#Using numpy
cov_np=np.dot(A.T,A)/(len(A)-1)
pd.DataFrame(cov_np,index=ret.columns,columns=ret.columns)

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
ABG.JO,0.000534,0.000016,0.000169,0.000377,-0.000018,-0.000018,0.000286,0.000061
BTI.JO,0.000016,0.000244,0.000018,0.000068,0.000039,0.000030,0.000055,0.000012
SHP.JO,0.000169,0.000018,0.000338,0.000131,0.000028,0.000041,0.000150,0.000035
SOL.JO,0.000377,0.000068,0.000131,0.001976,0.000092,0.000120,0.000457,0.000105
GFI.JO,-0.000018,0.000039,0.000028,0.000092,0.001209,0.000937,0.000041,0.000054
ANG.JO,-0.000018,0.000030,0.000041,0.000120,0.000937,0.001019,0.000059,0.000057
MTN.JO,0.000286,0.000055,0.000150,0.000457,0.000041,0.000059,0.000805,0.000082
NPN.JO,0.000061,0.000012,0.000035,0.000105,0.000054,0.000057,0.000082,0.000727

#### 2nd Option

In [24]:
#Using @
cov_other=(A.T@A)/(len(A)-1)
pd.DataFrame(cov_other,index=ret.columns,columns=ret.columns)

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
ABG.JO,0.000534,0.000016,0.000169,0.000377,-0.000018,-0.000018,0.000286,0.000061
BTI.JO,0.000016,0.000244,0.000018,0.000068,0.000039,0.000030,0.000055,0.000012
SHP.JO,0.000169,0.000018,0.000338,0.000131,0.000028,0.000041,0.000150,0.000035
SOL.JO,0.000377,0.000068,0.000131,0.001976,0.000092,0.000120,0.000457,0.000105
GFI.JO,-0.000018,0.000039,0.000028,0.000092,0.001209,0.000937,0.000041,0.000054
ANG.JO,-0.000018,0.000030,0.000041,0.000120,0.000937,0.001019,0.000059,0.000057
MTN.JO,0.000286,0.000055,0.000150,0.000457,0.000041,0.000059,0.000805,0.000082
NPN.JO,0.000061,0.000012,0.000035,0.000105,0.000054,0.000057,0.000082,0.000727

The above maths checks out when calculating Covariance Matrix, so lets move to calculating Variance the long way:
1. Multiply returns by weights
2. Sum weighted returns to calculated portfolio return
3. Calculate the variance of the portfolio returns

In [26]:
#By just saying returns times by weight gives us weighted returns
ret*wght

,ABG.JO,BTI.JO,SHP.JO,SOL.JO,GFI.JO,ANG.JO,MTN.JO,NPN.JO
2020-01-03,-0.000896,0.003966,-0.001527,0.003353,0.002872,0.007227,-0.003616,0.000882
2020-01-06,-0.003551,0.000508,-0.003779,0.002544,0.000923,-0.000424,-0.001293,-0.000542
2020-01-07,-0.003251,0.002377,0.002105,-0.001178,-0.003161,-0.004762,0.000016,0.000763
2020-01-08,0.001210,0.001589,0.000297,-0.001558,-0.001284,-0.002270,-0.001228,-0.001755
2020-01-09,0.001250,-0.000054,-0.000685,-0.003396,-0.005404,-0.003793,-0.000236,0.000870
...,...,...,...,...,...,...,...,...
2025-08-25,-0.000524,-0.000559,-0.001485,0.014594,0.005368,0.000249,-0.001271,0.002606
2025-08-26,-0.002339,-0.001594,-0.000126,-0.003342,0.003504,0.002326,-0.004054,-0.000417
2025-08-27,-0.000775,0.000225,0.000803,-0.003455,0.001639,0.001288,0.000567,-0.002503
2025-08-28,0.002739,-0.001706,-0.002316,0.004618,-0.003416,-0.001005,0.001554,-0.000265
2025-08-29,-0.001885,0.000947,-0.000676,-0.000084,0.002069,0.002064,-0.002076,0.000564

In [27]:
#By summing across columns, we can get the portfolio return series
pf_ret1=(ret*wght).sum(1)

In [28]:
pf_ret1

2020-01-03    0.012261
2020-01-06   -0.005612
2020-01-07   -0.007092
2020-01-08   -0.004999
2020-01-09   -0.011447
                ...
2025-08-25    0.018980
2025-08-26   -0.006042
2025-08-27   -0.002210
2025-08-28    0.000203
2025-08-29    0.000923
Length: 1415, dtype: float64

we could do this using matrix maths as returns in a mxn matrix and weights are an nx1 vector

In [29]:
pf_ret2=ret@wght

In [30]:
pd.concat([pf_ret1,pf_ret2],axis=1)

                   0         1
2020-01-03  0.012261  0.012261
2020-01-06 -0.005612 -0.005612
2020-01-07 -0.007092 -0.007092
2020-01-08 -0.004999 -0.004999
2020-01-09 -0.011447 -0.011447
...              ...       ...
2025-08-25  0.018980  0.018980
2025-08-26 -0.006042 -0.006042
2025-08-27 -0.002210 -0.002210
2025-08-28  0.000203  0.000203
2025-08-29  0.000923  0.000923

[1415 rows x 2 columns]

In [31]:
#The variance of the portfolio is simply the variance of the porfolio return series
pf_ret2.var()

0.00021604231748524304

So now we have concluded calculating the pf returns assumming equal weights

Now, lets use the metrix

In [34]:
pf_var=wght.T@cov_m@wght

In [35]:
pf_var

0.0002160423174852428

As you can see we have the same answers

In [39]:
wght.T@np.ones(len(wght))

1.0

In [40]:
np.ones(len(wght))

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [42]:
wght.T@mean_

0.0008681424517916242

In [43]:
pf_ret1.mean()

0.0008681424517916243

In [44]:
pf_ret1.var()

0.00021604231748524304